body {
  background: #0b1220;
  font-family: Arial;
  color: white;
}

.container {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.form, .card {
  background: #121b2f;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

button {
  background: #1f6fff;
  border: none;
  color: white;
}
